<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>My Site</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@900&family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
      <h1>I'm <span class="span">Raj</span></h1>
      <h2>a <span class="span">Sol</span>utions Architect</h2>
      <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
      <img src="static/images/mountain.png" alt="cloud-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="circular" src="static/images/profile_pic.jpg" alt="">
      <h2>Hello, I'm Raj Verma</h2>
      <p>💾 Database Architect, 🤖 Machine Learning Enthusiast, 👨🏽‍💻 Coder, 🎮 Gamer and your friendly neighborhood 🤓 🧠 NERD 🧠 🤓 .</p>
    </div>
    <hr>
    <div class="skills">
      <h2>🤓 My Skills.</h2>
      <div class="skill-row">
        <img class="oval_left" src="static/images/icons/app-development.png" alt="">
        <h3>Design & Development</h3>
        <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
      </div>
      <div class="skill-row">
        <img class="oval_right" src="static/images/icons/project.png" alt="">
        <h3 class="">Projects</h3>
        <ol>
          <li>API Design for Postgres Managed Services at Enterprise Level</li>
          <li>Bot Automation and Deployement for FAQ's</li>
          <li>Performance Application to get Postgres Statistics</li>
        </ol>
        <p>Place for more to come!</p>
      </div>
      <div class="skill-row">
        <img class="oval_left" src="static/images/icons/project-management.png" alt="">
        <h3>Experience</h3>
        <table table-nonborder>
          <tr>
            <th>
              Company
            </th>
            <th>
              DOJ
            </th>
            <th>
              Total Years
            </th>
          </tr>
          <tr>
            <td>
              This is a test exeprience place holder.
            </td>
            <td>
              2nd june 2015
            </td>
            <td>
              4 years
            </td>
          </tr>

        </table>
        <p>Place Holder for more to come.</p>
      </div>
      <div class="skill-row">
        <img class="oval_right" src="static/images/icons/web-development.png" alt="">
        <h3 class="">Languages and Framework</h3>
        <ul>
          <li>Postgres</li>
          <li>Bot Automation and Deployement for FAQ's</li>
          <li>Performance Application to get Postgres Statistics</li>
        </ul>
        <p>Place for more to come!</p>
      </div>
      <div class="skill-row">
        <img class="oval_left" src="static/images/icons/education.png" alt="">
        <h3>Education</h3>
        <table table-nonborder>
          <tr>
            <th>
              School | College
            </th>
            <th>
              Start
            </th>
            <th>
              Completion
            </th>
            <th>
              GPA
            </th>
          </tr>
          <tr>
            <td>
              Test School.
            </td>
            <td>
              june 2015
            </td>
            <td>
              june 2016
            </td>
            <td>
              4.5
            </td>
          </tr>
        </table>
        <p>Place for more to come!</p>
      </div>
      <div class="skill-row">
        <img class="oval_right" src="static/images/icons/experience.png" alt="">
        <h3 class="">Certifications</h3>
        <ol>
          <li>ML <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></li>
          <li>NLP <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></li>
          <li>SQL Server <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></li>
          <li>Python <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></li>
        </ol>
        <p>Place for more to come!</p>
      </div>


    </div>
    <div class="contact-me">

      <h2> <img class="icons" src="static/images/icons/telegram.png" alt="">Get In Touch</h2>
      <h3>test stuff here for more</h3>
      <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
      <br>
      <a class="btn" href="mailto:rjnshvrm23@email.com">CONTACT ME</a>
    </div>
  </div>

  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/rajtechbytes/" target="_blank"><img class="icons" src="static/images/icons/linkedin.png" alt=""></a>
    <a class="footer-link" href="https://twitter.com/roodydamoody" target="_blank"><img class="icons" src="static/images/icons/twitter.png" alt=""></a>
    <a class="footer-link" href="https://rajverma1985.github.io/cv/" target="_blank"><img class="icons" src="static/images/icons/website.png" alt=""></a>
    <p>© 2022 Raj Verma.</p>
  </div>
</body>
</html>
